* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: black;
}

body {
    font: 13px Courier;
}

form {
    background: black;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    border: 1px solid #00ff00;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
    background: black;
    color: #00ff00;
    font-family: "courier";
}

form input {
    border-radius: 15px;
    outline: none;
}

form button {
    width: 9%;
    background: #00ff00;
    border: none;
    padding: 10px;
    color: white;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: black;
}

#messages li {
    padding: 5px 10px;
    background: #313131;
}

#messages li:nth-child(odd) {
    background: black;
}