<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="mobile-web-app-capable" content="yes">
  <title>InfiniaPress Passenger Pigeon (v1.1.0)</title>
  <link rel="stylesheet" href="themes/theme_retro_default.css" id="default">
  <link rel="stylesheet" href="themes/theme_elegant.css" id="elegant">

</head>


<body>
  <div id="online">
    Online now: 
  </div>
  <ul id="messages">
  </ul>
  <form action="">
    <i id="typing" style="text-align: center;"></i><br>
    <input id="m" autocomplete="off" /><button>Send</button>
  </form>
  <input name="file" type="file" id="file" />
  <label for="file">Send file</label>
  <button id="themeChange">
    Change theme
  </button>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.4/push.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script src="/scripts/socket_controller.js"></script>
</body>

</html>