<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="mobile-web-app-capable" content="yes">
  <title>InfiniaPress Passenger Pigeon (v1.0.2)</title>
  <link rel="stylesheet" href="themes/theme_retro_default.css" id="default">
  <link rel="stylesheet" href="themes/theme_elegant.css" id="elegant">

</head>


<body>
  <ul id="messages">
  </ul>
  <form action="">
    <i id="typing" style="text-align: center;"></i><br>
    <input id="m" autocomplete="off" /><button>Send</button>
  </form>
  <input name="file" type="file" id="file" />
  <label for="file">Send image</label>
  <button id="themeChange">
    Change theme
  </button>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.rawgit.com/Nickersoft/push.js/master/push.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script>
    var socket = io();
    var banned = false;
    var username = prompt("What's your name?");
    username = username.replace(/</g, "&lt;").replace(/>/g, "&gt;");
    var notification = new Audio('https://cdn.rawgit.com/InfiniaPress/Passenger-Pigeon/master/assets/notification.mp3');
    var usercolor;
    var colours = 
    [
      "#003EFF",
      "#00CED1",
      "#00FFCC",
      "#0276FD",
      "#05EDFF",
      "#0EBFE9",
      "#1DA237",
      "#0AC92B",
      "#24D330",
      "#2FAA96",
      "#488214",
      "#49E9BD",
      "#5B59BA",
      "#62B1F6",
      "#72587F",
      "#76EE00",
      "#7F00FF",
      "#7FFFD4",
      "#82CFFD",
      "#820BBB",
      "#CD0000",
      "#CDCD00"
    ];
    var typing = false;
    usercolor = colours[Math.floor(Math.random() * colours.length)];
    
    var currentTheme = "default";
    document.getElementById('elegant').disabled  = true;
    document.getElementById('default').disabled  = false;
    $("#themeChange").on("click", function(){
      if(currentTheme == "default"){
        document.getElementById('elegant').disabled  = false;
        document.getElementById('default').disabled  = true;
        currentTheme = "elegant";
        colours = ['#e21400', '#91580f', '#f8a700', '#f78b00',
    '#58dc00', '#287b00', '#a8f07a', '#4ae8c4',
    '#3b88eb', '#3824aa', '#a700ff', '#d300e7'];
        usercolor = colours[Math.floor(Math.random() * colours.length)];
        socket.emit('changetheme', username, usercolor);
      }else if(currentTheme == "elegant"){
        document.getElementById('elegant').disabled  = true;
        document.getElementById('default').disabled  = false;
        currentTheme = "default";
        colours = ["#003EFF",
          "#00CED1",
          "#00FFCC",
          "#0276FD",
          "#05EDFF",
          "#0EBFE9",
          "#1DA237",
          "#0AC92B",
          "#24D330",
          "#2FAA96",
          "#488214",
          "#49E9BD",
          "#5B59BA",
          "#62B1F6",
          "#72587F",
          "#76EE00",
          "#7F00FF",
          "#7FFFD4",
          "#82CFFD",
          "#820BBB",
          "#CD0000",
          "#CDCD00"
        ];
        usercolor = colours[Math.floor(Math.random() * colours.length)];
        socket.emit('changetheme', username, usercolor);
      }
    })

    function autoscroll() {
      window.scrollTo(0, document.body.scrollHeight);
    }

    $("#file").change(function() {
      if (this.files && this.files[0]) {
        var file = this.value;
        var FR = new FileReader();
        var extension = file.split('.').pop();
        FR.onload = function(e) {
            socket.emit('file', e.target.result, extension);
        };
        FR.readAsDataURL(this.files[0]);
      }
    });


    if (username) {
      socket.emit('connection info', username, usercolor);
    }

    function send(message, color) {
      message = message.replace(/</g, "&lt;").replace(/>/g, "&gt;");
      $('#messages').append('<li' + ' style="color:' + color + '">' + message + '</li>');
      if ((window.innerHeight + window.scrollY) <= document.body.offsetHeight + 65) {
        $("form").css("position", "static");
        $("label").css("position", "static");
        autoscroll();
      }
    }

    socket.on('user add', function(usr) {
      send(usr.username + " has joined.", usr.color);
    });
    
    socket.on('mute', function(mute){
      if(username === mute.target){
        alert("You've been muted by " + "'" + mute.sender + "'" + ".");
        banned = true;
        setTimeout(function () {
          banned = false;
        }, 10000);
      }
    });


    $('form').submit(function() {
      if (/\S/.test($("#m").val())) {
        if ($('#m').val().indexOf("/mute") !== -1){
          var password = prompt("What is the mute password?");
          if(password === "keane and robert are awesome"){
            if(!banned){
              socket.emit('mute', username, $('#m').val());
            }
          }else{
            alert("Wrong password. Go away, you're ugly.")
          }
        }else{
          if(!banned){
            socket.emit('chat message', $('#m').val());
          }
        }
      }
      $('#m').val('');
      return false;
    });

    function timeoutFunction() {
      typing = false;
      socket.emit("not typing");
    }

    $("form input").on("keydown", function(e) {
      if (e.which !== 13) {
        if (typing == false) {
          typing = true
          socket.emit("typing");
          timeout = setTimeout(timeoutFunction, 2000);
        } else {
          clearTimeout(timeout);
          timeout = setTimeout(timeoutFunction, 2000);
        }
      }
    });

    socket.on('typing', function(usr) {
      $("#typing").text(usr.username + " is typing.");
      $("#typing").css("color", usr.color);
    })

    socket.on('not typing', function(usr) {
      $("#typing").text("");
    })

    socket.on('user left', function(usr) {
      send(usr.username + " has disconnected.", usr.color);
    })

    socket.on('image', function(info) {
      if (info.image) {
        $('#messages').append('<li><img src=' + info.buffer + '><li>');
        if ((window.innerHeight + window.scrollY) <= document.body.offsetHeight + 65) {
          $("form").css("position", "static");
          $("label").css("position", "static");
          autoscroll();
        }
      }
    })
    
    socket.on('video', function(info) {
      if (info.video) {
        $('#messages').append('<li><video controls><source type="video/' + info.ext + '"' + 'src=' + info.buffer + '></video><li>');
        if ((window.innerHeight + window.scrollY) <= document.body.offsetHeight + 65) {
          $("form").css("position", "static");
          $("label").css("position", "static");
          autoscroll();
        }
      }
    })

    socket.on('chat message', function(msg, usr) {
      msg = msg.replace(":(", "🙁");
      msg = msg.replace(":)", "🙂");
      msg = msg.replace(":D", "😃");
      msg = msg.replace(":'(", "😭");
      msg = msg.replace(":-|", "😑");
      msg = msg.replace(":-O", "😱");
      msg = msg.replace(":P", "😛");
      msg = msg.replace("X-(", "😡");
      if (usr.username !== username) {
        Push.create('Passenger Pigeon', {
          body: usr.username + ": " + msg,
          icon: "https://cdn.rawgit.com/InfiniaPress/Passenger-Pigeon/master/assets/pigeon-final.png",
          timeout: 4000,
          onClick: function() {
            window.focus();
            this.close();
          },
          vibrate: [200, 100, 200, 100, 200, 100, 200]
        });
        notification.play();
      }
      send(usr.username + ": " + msg, usr.color);
    });
  </script>
</body>

</html>